<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>MindNode</string>
	<key>id</key>
	<string>C7107F74-DC72-4A06-AA7A-26156B30AF15</string>
	<key>title</key>
	<string>Zen-Bright</string>
	<key>version</key>
	<integer>3</integer>
</dict>
</plist>
